<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <geoip>
            <general>
                <enabled>0</enabled>
                <downloadurl><![CDATA[https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-City&license_key=YOUR_LICENSE_KEY&suffix=tar.gz]]></downloadurl>
            </general>
        </geoip>
    </default>
</config>
